<%= javascript_pack_tag 'index', 'data-turbolinks-track': 'reload' %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center my-4">to do list</h1>
      <div class="row" id="tasks"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row" id="addtask">
        <form id="addTaskForm">
          <div class="input-group mt-3">
            <input type="text" class="form-control" id="newTaskContent" placeholder="¿ what do you need to get done ?" required>
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit">add task</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
